@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Kaushan Script';
    src: url('/assets/fonts/Kaushan_Script/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  .nav_link {
    @apply text-white text-base font-semibold p-2 h-full uppercase transition hover:text-yellow-theme select-none;
  }

@layer utilities {
    .h-screen-minus-header {
      height: calc(100vh - 6rem); /* 3.5rem to równoważnik h-14 w Tailwind (14 * 0.25rem) */
    }


    .container {
        position: relative;
        width: 300px;
        height: 300px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        overflow: hidden;
    }

    .stripe {
        position: absolute;
        width: 210vh;
        height: 20rem; /* height of the stripe */
        background-color: #35353A; /* Tomato color */
        transform: rotate(-63deg);
        top: -4rem;
        right: -220%;
    }

    .adjustStripe{
        right:-35%;
        height: 20rem;
    }

    .logo{
        font-family: "Kaushan Script", cursive;
    }




  }


